body {
  margin: 0;
  padding: 0;
  background-color: #001f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Meie Script', cursive;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  border: 2px solid white;
  box-shadow: 0 0 20px #fff;
}

button {
  margin-top: 10px;
  padding: 8px 18px;
  font-size: 18px;
}

#playButton {
  position: fixed;
  bottom: 10px;
  left: 20px;
  transform: none;
  z-index: 9999;
}
